* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
.containerBox{
    background-color: #ffffff;
    max-width: 355px;
    border: 1px solid #ccc;
    border-top: 5px solid #333;
    margin: 10% auto;
}
.content{
    padding: 25px 15px 20px 15px;
}
img{
    float: left;
    max-width: 75px;
    padding-right: 10px;
}
h2{
    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
}
.circle {
    background-color: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 0 5px 0 5px;
}
p{
    display: inline;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
    margin-left: 20px;
    position: relative;
}
p::after{
    content: "";
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 138px;
    width: 5px;
    height: 5px;
    display: block;
}
a{
    display: inline-block;
    width: 100%;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    padding: 7.5px 0 7.5px 0;
    margin-top: 20px;
}